absl-py==2.3.1
aiofiles==24.1.0
attrs==25.3.0
bibtexparser==1.4.3
certifi==2025.8.3
charset-normalizer==3.4.3
chex==0.1.90
contourpy==1.3.3
cycler==0.12.1
dataclasses==0.6
dm-haiku==0.0.14
e3nn-jax==0.20.7
einops==0.8.1
etils==1.13.0
flax==0.11.1
fonttools==4.59.1
frozendict==2.4.6
fsspec==2025.7.0
humanize==4.12.3
idna==3.10
importlib_resources==6.5.2
jax==0.6.2
jax-cuda12-pjrt==0.6.2
jax-cuda12-plugin==0.6.2
-e git+https://github.com/jax-md/jax-md@3571f47bd37a4a1d316d68797ed16f52add5e743#egg=jax_md
jaxlib==0.6.2
jmp==0.0.4
joblib==1.5.1
jraph==0.0.6.dev0
kiwisolver==1.4.9
markdown-it-py==4.0.0
matplotlib==3.10.5
mdurl==0.1.2
ml_collections==1.1.0
ml_dtypes==0.5.3
monty==2025.3.3
mpmath==1.3.0
msgpack==1.1.1
narwhals==2.1.2
nest-asyncio==1.6.0
networkx==3.5
numpy==2.3.2
nvidia-cublas-cu12==12.9.1.4
nvidia-cuda-cupti-cu12==12.9.79
nvidia-cuda-nvcc-cu12==12.9.86
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cuda-runtime-cu12==12.9.79
nvidia-cudnn-cu12==9.12.0.46
nvidia-cufft-cu12==11.4.1.4
nvidia-cusolver-cu12==11.7.5.82
nvidia-cusparse-cu12==12.5.10.65
nvidia-nccl-cu12==2.27.7
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvshmem-cu12==3.3.20
opt_einsum==3.4.0
optax==0.2.5
orbax-checkpoint==0.11.23
orjson==3.11.2
packaging==25.0
palettable==3.3.3
pandas==2.3.2
pillow==11.3.0
plotly==6.3.0
protobuf==6.32.0
Pygments==2.19.2
pymatgen==2025.6.14
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
rich==14.1.0
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
scipy==1.16.1
setuptools==80.9.0
simplejson==3.20.1
six==1.17.0
spglib==2.6.0
sympy==1.14.0
tabulate==0.9.0
tensorstore==0.1.76
toolz==1.0.0
tqdm==4.67.1
treescope==0.1.10
typing_extensions==4.14.1
tzdata==2025.2
uncertainties==3.2.3
urllib3==2.5.0
wheel==0.45.1
zipp==3.23.0
